body {
  font-family: inherit;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  font-size: 1rem;
   background-image: url(pngtree-seamless-monochrome-pattern-fastfood-picture-image_1162847.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


header {
  background-color: #0c0b0b;
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 2em;
}

.principio {
color:rgb(255, 255, 255);
font-size: 3rem;
font-family:inherit;
position: relative;
left: 47%;
margin-top: 40px;
margin-bottom: 10px;
 }
p{
margin-top: 30px;
margin-bottom: 20px;
position: relative;
left: 47%;
color: aliceblue;
}
 

h1{
 color: darkred;
  font-size: 5rem;
}
h6{
position: relative;
left: 47%;
}
.nombre {
  font-weight: bold;
  margin-bottom: 2px;
}

.descripcion {
  font-style: italic;
  color: #969393;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
}
